*{
	margin: 0;
	padding: 0;
}

.clear{
	clear: both;
}

body{
	background-image: url(img/back_g.jpg);
}

header{
	width: 100%;
	height: 98px;
	font-size: 30px;
}

#h-wrapper{
	width: 980px;
	margin: 0px auto;
}

h1{
	width: 368px;
	height: 85px;
	background: #ffb6c1;
	float: left;
}

#header-link {
	width: 196px;
	height: 24px;
	background: #d8bfd8;
	float: right;
	margin-right: 62px;
}

nav{
	width: 100%;
	height: 65px;
	background-image: url(img/menuline.png);
}

main{
	width: 980px;
	margin: 0px auto;
	border: 1px solid #000000;
}

main p{
	width: 100%;
	height: 50px;
}

aside{
	width: 222px;
	height: 500px;
	background: #d2b48c;
	float: left;
}

section{
	width: 746px;
	height: 2010px;
	background: #f0e68c;
	float: right;
}

.article-box{
	width: 714px;
	height: 300px;
	background: #da70d6;
	margin: 10px auto;
 }

#main-footer{
	width: 100%;
	height: 110px;
}

footer{
	width: 100%;
/*	height: 264px;*/
}

#site-map-bg{
	width: 100%;
	height: 65px;
	background-image: url(img/menuline.png);
}

#site-map-image{
	width: 980px;
	height: 50px;
	margin: 0 auto;
	position: relative;
	top: 7px;
}

.f_map{
	margin-top: 5px;
}

#site-map-link{
	width: 980px;
	height: 198px;
	margin: 0 auto;
}

#copyright{
	width: 100%;
	height: 17px;
	background: #ffffff;
}